
@font-face {
  font-family: 'Lato-Black';    //This is what we are going to call
  src: url('../assets/fonts/Lato/Lato-Black.ttf');
}
@font-face {
  font-family: 'Lato-BlackItalic';  //This is what we are going to call
  src: url('../assets/fonts/Lato/Lato-BlackItalic.ttf');
}
@font-face {
  font-family: 'Lato-Bold';  //This is what we are going to call
  src: url('../assets/fonts/Lato/Lato-Bold.ttf');
}
@font-face {
  font-family: 'Lato-BoldItalic';  //This is what we are going to call
  src: url('../assets/fonts/Lato/Lato-BoldItalic.ttf');
}
@font-face {
  font-family: 'Lato-Italic';  //This is what we are going to call
  src: url('../assets/fonts/Lato/Lato-Italic.ttf');
}
@font-face {
  font-family: 'Lato-Light';  //This is what we are going to call
  src: url('../assets/fonts/Lato/Lato-Light.ttf');
}
@font-face {
  font-family: 'Lato-LightItalic';  //This is what we are going to call
  src: url('../assets/fonts/Lato/Lato-LightItalic.ttf');
}
@font-face {
  font-family: 'Lato-Regular';  //This is what we are going to call
  src: url('../assets/fonts/Lato/Lato-Regular.ttf');
}
@font-face {
  font-family: 'Lato-Thin';  //This is what we are going to call
  src: url('../assets/fonts/Lato/Lato-Thin.ttf');
}
@font-face {
  font-family: 'Lato-ThinItalic';  //This is what we are going to call
  src: url('../assets/fonts/Lato/Lato-ThinItalic.ttf');
}

* {
  font-family: "Lato-Regular" !important;
}
