// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

:root {

	--ion-color-primary: #66649B;
	--ion-color-primary-rgb: 102,100,155;
	--ion-color-primary-contrast: #ffffff;
	--ion-color-primary-contrast-rgb: 255,255,255;
	--ion-color-primary-shade: #5a5888;
	--ion-color-primary-tint: #7574a5;

	--ion-color-secondary: #6b6b94;
	--ion-color-secondary-rgb: 107,107,148;
	--ion-color-secondary-contrast: #ffffff;
	--ion-color-secondary-contrast-rgb: 255,255,255;
	--ion-color-secondary-shade: #5e5e82;
	--ion-color-secondary-tint: #7a7a9f;

	--ion-color-tertiary: #8483AF;
	--ion-color-tertiary-rgb: 132,131,175;
	--ion-color-tertiary-contrast: #ffffff;
	--ion-color-tertiary-contrast-rgb: 0,0,0;
	--ion-color-tertiary-shade: #74739a;
	--ion-color-tertiary-tint: #908fb7;

	--ion-color-success: #00b14f;
	--ion-color-success-rgb: 0,177,79;
	--ion-color-success-contrast: #ffffff;
	--ion-color-success-contrast-rgb: 0,0,0;
	--ion-color-success-shade: #009c46;
	--ion-color-success-tint: #1ab961;

	--ion-color-warning: #fb9104;
	--ion-color-warning-rgb: 251,145,4;
	--ion-color-warning-contrast: #000000;
	--ion-color-warning-contrast-rgb: 0,0,0;
	--ion-color-warning-shade: #dd8004;
	--ion-color-warning-tint: #fb9c1d;

	--ion-color-danger: #cf2e2e;
	--ion-color-danger-rgb: 207,46,46;
	--ion-color-danger-contrast: #ffffff;
	--ion-color-danger-contrast-rgb: 255,255,255;
	--ion-color-danger-shade: #b62828;
	--ion-color-danger-tint: #d44343;

	--ion-color-light: #f6f8fc;
	--ion-color-light-rgb: 246,248,252;
	--ion-color-light-contrast: #000000;
	--ion-color-light-contrast-rgb: 0,0,0;
	--ion-color-light-shade: #d8dade;
	--ion-color-light-tint: #f7f9fc;

	--ion-color-medium: #5f5f5f;
	--ion-color-medium-rgb: 95,95,95;
	--ion-color-medium-contrast: #ffffff;
	--ion-color-medium-contrast-rgb: 255,255,255;
	--ion-color-medium-shade: #545454;
	--ion-color-medium-tint: #6f6f6f;

	--ion-color-dark: #2f2f2f;
	--ion-color-dark-rgb: 47,47,47;
	--ion-color-dark-contrast: #ffffff;
	--ion-color-dark-contrast-rgb: 255,255,255;
	--ion-color-dark-shade: #292929;
	--ion-color-dark-tint: #444444;

  --color-hex-1:  #32373c;
  --color-hex-2:  #000000;
  --color-hex-3:  #abb8c3;
  --color-hex-4:  #ffffff;
  --color-hex-5:  #f78da7;
  --color-hex-6:  #cf2e2e;
  --color-hex-7:  #ff6900;
  --color-hex-8:  #fcb900;
  --color-hex-9:  #7bdcb5;
  --color-hex-10:  #00d084;
  --color-hex-11:  #8ed1fc;
  --color-hex-12:  #0693e3;
  --color-hex-13:  #9b51e0;
  --color-hex-14:  #6ec1e4;
  --color-hex-15:  #54595f;
  --color-hex-16:  #7a7a7a;
  --color-hex-17:  #61ce70;
  --color-hex-18:  #d9fcde;
  --color-hex-19:  #01b150;
  --color-hex-20:  #ffbc7d;
  --color-hex-21:  #00ba51;
  --color-hex-22:  #136fd8;
  --color-hex-23:  #009da3;
  --color-hex-24:  #108108;
  --color-hex-25:  #5b25da;
  --color-hex-26:  #106088;
  --color-hex-27:  #0efaff;
  --color-hex-28:  #746153;
  --color-hex-29:  #138498;
  --color-hex-30:  #23a455;
  --color-hex-31:  #00b14f;
  --color-hex-32:  #27bc6a;
  --color-hex-33:  #d3f035;
  --color-hex-34:  #005339;
  --color-hex-35:  #006850;
  --color-hex-36:  #d1eb28;
  --color-hex-37:  #4a6483;
  --color-hex-38:  #e8fccf;
  --color-hex-39:  #110837;
  --color-hex-40:  #700000;
  --color-hex-41:  #0082c4;
  --color-hex-42:  #069d3a;
  --color-hex-43:  #fafafa;
  --color-hex-44:  #4054b2;
  --color-hex-45:  #fdfdfd;

}
