.end-buttons {
  padding-left: 12px;
  padding-right: 12px;
}

ion-title {
  padding: 0;
  width: 50%;
}

.add-button {

  font-size: 17px;

  &::part(native) {
    padding: 0;
  }
}

ion-content {
  --ion-background-color: #F7F7FA;

  &::part(scroll) {
    padding: 0;
  }
}

.spinner {
  z-index: 100;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

ion-spinner {
  stroke: var(--ion-color-primary);
  fill: var(--ion-color-primary);
  transform: scale(3);
}


.searchbar-content {
  height: 60px;
  padding: 0;
  margin: 0;
  background-color: var(--ion-color-tertiary);
  position: -webkit-sticky; /* for browser compatibility */
  position: sticky;
  top: 0;
  z-index: 9999;
}

ion-searchbar {
  --border-radius: 10px;
  --background: #ffffff;
  --box-shadow: 0 0 0 1.5px var(--ion-color-primary);
  -webkit-padding-start: 6px;
  padding-inline-start: 6px;
  -webkit-padding-end: 6px;
  padding-inline-end: 6px;
  padding-bottom: 6px;
  min-height: auto;
  max-width: 97%;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
}

.searchbar-header {
  padding-top: 4.5px;
}

ion-list {
  --ion-background-color: #ffffff;
    
  box-shadow: 0 0 1px 0  var(--ion-color-primary);
}

ion-grid {
  padding: 0 1rem;

  ion-row {
    padding-left: 1rem;
  }
}

.data-hdr {
  margin-bottom: 0;
  padding: 1rem 0 0.8rem 0;
  background-color: white;
  border-bottom: 0.1rem solid rgba($color: #6c6c6c, $alpha: 0.5);

  ion-col {
    padding: 0;
  }

  ion-label {
    margin: 0;
  }

  ion-item {
    --padding-start: 0;
    --inner-padding-end: 0;
  }

  ion-item {
    --background: white;
  }

  position: -webkit-sticky;
  /* Safari */
  position: sticky;
  top: -0.2rem;
  z-index: 1000;
  display: none;
  visibility: hidden;

  h2 {
    font-weight: 700;
    color: var(--ion-color-medium);
  }

  .id-col-lbl {
    padding-left: 1rem;
  }

  .num-col-lbl {
    padding-right: 1rem;
    text-align: end;
  }

  .status-col-lbl {
    padding-right: 1rem;
    text-align: center;
  }
}

.data-row {
  position: relative;

  &:hover {
    .option-buttons {
      visibility: visible;
      display: block;
    }
  }

  padding-top: 1rem;
  padding-bottom: 1rem;

  &:first-child {
    padding-top: 0.5rem;
  }

  ion-col {
    padding: 0;
  }

  ion-label {
    margin: 0;
  }

  ion-item {
    --padding-start: 0;
    --inner-padding-end: 0;
  }

  h3 {
    font-size: 0.8rem;
    color: var(--ion-color-medium);
  }

}

.data-row:nth-of-type(even) {
  background: #F8F5F5;

  ion-item {
    --background: #F8F5F5;
  }
}

.data-row:nth-of-type(odd) {
  background: #fcfcfc;

  ion-item {
    --background: #fcfcfc;
  }
}

// .option-buttons {
//   visibility: hidden;
//   display: none;
//   position: absolute;
//   z-index: 100;
//   height: 100%;
//   width: 100%;

//   ion-item {
//     --padding-start: 0;
//     --inner-padding-end: 0;

//     &::part(native) {
//       background-color: transparent;
//       height: 100%;
//     }

//     ion-button {
//       margin: 0;

//       ion-icon {
//         margin: 0;
//       }
//     }
//   }
// }

// @media (min-width: 768px) {

//   .num-row-lbl {
//     padding-right: 1rem;
//     text-align: end;
//   }

// }

// @media (min-width: 992px) {
//   .data-hdr {
//     display: flex;
//     visibility: visible;
//   }

//   .data-row {
//     h3 {
//       display: none;
//       visibility: hidden;
//     }

//     .id-row-lbl {
//       padding-left: 1rem;
//     }

//     .status-row-lbl {
//       padding-right: 1rem;
//       text-align: center;
//     }
//   }
// }

@media (max-width: 576px) {
  .searchbar-header {
    display: none;
    visibility: hidden;
  }
}

@media (min-width: 576px) {
  .searchbar-content, ion-list {
    display: none;
    visibility: hidden;
  }
}