.end-buttons {
  padding-left: 12px;
  padding-right: 12px;
}

ion-title {
  padding: 0;
}

.end-button {
  font-size: 17px;

  &::part(native) {
    padding: 0;
  }
}

ion-content {
  --ion-background-color: #F7F7FA;

  &::part(scroll) {
    padding: 0;
  }
}

.spinner {
  z-index: 100;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

ion-spinner {
  stroke: var(--ion-color-primary);
  fill: var(--ion-color-primary);
  transform: scale(3);
}

ion-searchbar {
  --border-radius: 10px;
  --background: #ffffff;
  --box-shadow: 0 0 0 1.5px var(--ion-color-primary);
  -webkit-padding-start: 6px;
  padding-inline-start: 6px;
  -webkit-padding-end: 6px;
  padding-inline-end: 6px;
  padding-bottom: 6px;
  min-height: auto;
  max-width: 97%;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
}

.searchbar-header {
  padding-top: 4.5px;
}

ion-list {
  --ion-background-color: #ffffff;
  box-shadow: 0 0 1px 0 var(--ion-color-primary);

  ion-label {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

ion-grid {
  padding: 0;
  display: none;
  visibility: hidden;

  ion-col {
    padding: 0 5px 0 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .button-col {
    text-align: end;
  }
}

.data-hdr {
  height: 60px;
  color: #ffffff;
  position: relative;
  align-items: center;
  margin: 0;
  background-color: var(--ion-color-tertiary);
  font-size: 14px;
  font-weight: bold;

  .id-hdr-lbl {
    padding-left: 3rem;
  }

  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 999;
}

.data-row {
  position: relative;
  height: 3rem;
  align-items: center;

  &:hover {
    .option-buttons {
      visibility: visible;
      display: block;
    }
  }

  &:first-child {
    padding-top: 0.5rem;
  }

  .id-data-lbl {
    padding-left: 3rem;
  }
}

.data-row:nth-of-type(even) {
  background: var(--ion-color-light-tint);
}

.data-row:nth-of-type(odd) {
  background: var(--color-hex-45);
}

@media (min-width: 576px) {

  ion-grid {
    display: block;
    visibility: visible;
  }
  
  .end-buttons,
  ion-list {
    display: none;
    visibility: hidden;
  }
}

@media (max-width: 768px) {
  .email-col {
    display: none;
    visibility: hidden;
  }
}